@use "../../../scss-variables/media-queries" as *;

.projects {
  &__slider-wrapper {
    position: relative;
    width: 900px;
    height: 350px;

    @include media-queries(medium) {
      overflow: hidden;
    }
  }

  &__slider-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
  }

  &__slider-image {
    position: relative;
    min-width: 100%;
    height: 100%;
    transform: scale(0.96);
    transition: 0.4s linear;
    overflow: hidden;

    &--mobile .projects__slider-img-frame {
      top: -60px;
    }

    &--mobile .projects__slider-image-cover {
      height: 60px;
      padding: 10px;
    }

    &--mobile .projects__slider-img-frame::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }

    .no-touch &:hover .projects__slider-img-frame,
    .no-touch &:focus .projects__slider-img-frame,
    .no-touch &:active .projects__slider-img-frame {
      top: -60px;
    }

    .no-touch &:hover .projects__slider-image-cover,
    .no-touch &:focus .projects__slider-image-cover,
    .no-touch &:active .projects__slider-image-cover {
      height: 60px;
      padding: 10px;
    }

    .no-touch &:hover .projects__slider-img-frame::after,
    .no-touch &:focus .projects__slider-img-frame::after,
    .no-touch &:active .projects__slider-img-frame::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 2;
    }

    @media (min-width: 501px) {
      min-width: 50%;
    }

    @media (min-width: 900px) {
      min-width: 33.33%;
    }

    @media (min-width: 900px) {
      transform: scale(0.9);
    }
  }

  &__slider-img-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    // background-position: center;
    transform: scale(1);
    transition: 0.4s ease-out;

    &--center {
      background-position: top center;
    }
  }

  &__slider-cover-loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8a8a8a;
  }

  &__dummy-img {
    display: none;
    width: 0;
    height: 0;
    background-color: transparent;
  }

  &__slider-image-cover {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: white;
    font-family: "Segoe UI", sans-serif;
    z-index: -1;
    transition: 0.4s ease-out;

    &--change-color {
      background-color: #8a8a8a;
    }
  }

  &__slider-image-title {
    color: #575757;
    font-size: 1.2rem;
    font-family: "Oswald", sans-serif;
    text-align: left;

    @include media-queries(small) {
      font-size: 1.4rem;
    }
  }

  &__slider-image-more {
    color: #575757;
    text-align: right;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    cursor: pointer;

    @include media-queries(small) {
      font-size: 1.4rem;
    }
  }

  &__slider-button-left,
  &__slider-button-right {
    position: absolute;
    top: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.4s ease;
    animation: hideButons 0.5s linear forwards;

    &:hover {
      color: orange;
    }

    @include media-queries(xsmall) {
      font-size: 2.4rem;
    }

    @include media-queries(small) {
      font-size: 2.6rem;
    }

    @include media-queries(medium) {
      display: flex;
      font-size: 3rem;
    }
  }

  &__slider-button-left {
    left: 2%;
  }

  &__slider-button-right {
    right: 2%;
  }

  @keyframes hideButons {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
