@use "../../../scss-variables/media-queries" as *;

.projects {
  &__inner-wrapper {
    display: flex;
    flex-direction: column;
    min-height: inherit;

    @include media-queries(large) {
      flex-direction: row;
      min-height: initial;
      height: 100%;
    }
  }

  &__inner-left,
  &__inner-right {
    width: 100%;
    min-height: 50vh;

    @include media-queries(large) {
      width: 50%;
      min-height: initial;
      height: 100%;
    }

    @media (max-width: 855px) and (orientation: landscape) {
      min-height: 67vh;
    }
  }

  &__project-title {
    margin-bottom: 50px;
    text-align: left;
  }

  &__description-title,
  &__tech-title {
    margin-bottom: 20px;
    text-align: left;
    color: #333333;
  }

  &__description-text {
    margin-bottom: 20px;
    text-align: left;
    font-weight: 300;
  }

  &__tech-used {
    margin-bottom: 10px;
    text-align: left;
  }

  &__inner-right {
    @include media-queries(large) {
      padding: 20px;
    }
  }

  &__image-devices-prewview {
    position: relative;
    width: 100%;
    min-height: inherit;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

    @include media-queries(large) {
      min-height: initial;
      height: 50%;
      background-size: 80% auto;
    }

    @media (max-width: 855px) and (orientation: landscape) {
      background-size: 50% auto;
    }
  }

  &__cover-details-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: inherit;
    background-color: transparent;

    @include media-queries(large) {
      min-height: initial;
      height: 50%;
    }
  }

  &__git-link {
    color: #0074d9;
    transition: 0.4s ease;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #2690ed;
    }
  }

  &__link-live-page {
    display: block;
    margin: 70px 0 20px;
    background-color: transparent;
    color: #0074d9;
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.4s ease;
    text-decoration: none;

    &:hover {
      color: #2690ed;
    }

    @include media-queries(large) {
      margin: 70px 0 150px;
    }
  }
}
