@use "../../../scss-variables/media-queries" as*;

.projects {
  width: 100%;
  min-height: 100vh;

  @include media-queries(large) {
    min-height: initial;
    height: 600px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    min-height: inherit;
    margin: 0 auto;
    padding: 80px 10px 50px 10px;
    overflow: hidden;

    @include media-queries(small) {
      padding: 80px 20px 50px 20px;
    }

    @include media-queries(large) {
      min-height: initial;
      height: 100%;
      padding: 50px 50px 0 50px;
    }
  }

  &__wrapper-title {
    position: relative;
    width: 100%;
  }

  &__title {
    width: 100%;
    margin: 20px 0 80px 0;
    color: #575757;
    text-align: left;
    letter-spacing: 1px;

    @include media-queries(xsmall) {
      top: 10px;
    }

    @include media-queries(large) {
      position: initial;
    }
  }

  &__wrapper-details {
    width: 100%;
    max-width: 1100px;
    min-height: inherit;
    margin: 0 auto;
    padding: 80px 10px 50px 10px;

    @include media-queries(small) {
      padding: 80px 20px 50px 20px;
    }

    @include media-queries(large) {
      min-height: initial;
      height: 100%;
      padding: 50px 50px 0 50px;
    }
  }

  &__button-back {
    display: block;
    background-color: transparent;
    margin-bottom: 20px;
    border: none;
    outline: none;
    font-size: 1.6rem;
    font-family: "Oswald", "sans-serif";
    font-weight: 500;
    cursor: pointer;
  }
}
