@use "../../../scss-variables/media-queries" as *;

.projects {
  &__blob-svg-1 {
    position: absolute;
    top: -6%;
    left: -140px;
    width: 200px;
    z-index: -1;

    @include media-queries(xsmall) {
      left: -135px;
    }

    @include media-queries(small) {
      left: -130px;
    }

    @include media-queries(xmedium) {
      left: -118px;
    }

    @include media-queries(large) {
      display: none;
    }
  }

  &__blob-svg-1-1 {
    transition: all 0.3s ease 0s;
  }
}
