@use "./scss-variables/media-queries" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  overflow-x: hidden;
}

.cover-body {
  width: 100%;
  height: calc(100vh - 2400px);
  background: #f99223;
  background: -webkit-linear-gradient(to top, #f9d42308, #f99223, #f84100);
  background: linear-gradient(to bottom, #f99223, #f84100);
}

.main {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

h1 {
  text-align: center;
  font-size: 1.8rem;

  @include media-queries(xxsmall) {
    font-size: 1.8rem;
  }

  @include media-queries(xsmall) {
    font-size: 2rem;
  }

  @include media-queries(small) {
    font-size: 2.4rem;
  }

  @include media-queries(xmedium) {
    font-size: 2.8rem;
  }

  @include media-queries(medium) {
    font-size: 3.4rem;
  }

  @include media-queries(large) {
    font-size: 4rem;
  }

  @include media-queries(xlarge) {
    font-size: 4.6rem;
  }
}
h2 {
  text-align: center;
  font-size: 1.7rem;

  @include media-queries(xxsmall) {
    font-size: 1.7rem;
  }

  @include media-queries(xsmall) {
    font-size: 1.8rem;
  }

  @include media-queries(small) {
    font-size: 2.2rem;
  }

  @include media-queries(xmedium) {
    font-size: 2.6rem;
  }

  @include media-queries(medium) {
    font-size: 3.2rem;
  }

  @include media-queries(large) {
    font-size: 3.4rem;
  }

  @include media-queries(xlarge) {
    font-size: 3.6rem;
  }
}

h3 {
  text-align: center;
  font-size: 1.5rem;

  @include media-queries(xxsmall) {
    font-size: 1.5rem;
  }

  @include media-queries(xsmall) {
    font-size: 1.7rem;
  }

  @include media-queries(small) {
    font-size: 2rem;
  }

  @include media-queries(xmedium) {
    font-size: 2.4rem;
  }

  @include media-queries(medium) {
    font-size: 2.4rem;
  }

  @include media-queries(large) {
    font-size: 2.6rem;
  }

  @include media-queries(xlarge) {
    font-size: 2.8rem;
  }
}

h4 {
  text-align: center;
  font-size: 1.4rem;

  @include media-queries(xxsmall) {
    font-size: 1.4rem;
  }

  @include media-queries(xsmall) {
    font-size: 1.6rem;
  }

  @include media-queries(small) {
    font-size: 1.9rem;
  }

  @include media-queries(xmedium) {
    font-size: 2rem;
  }

  @include media-queries(medium) {
    font-size: 2rem;
  }

  @include media-queries(large) {
    font-size: 2.1rem;
  }

  @include media-queries(xlarge) {
    font-size: 2.2rem;
  }
}

h5 {
  text-align: center;
  font-size: 1.4rem;

  @include media-queries(xxsmall) {
    font-size: 1.4rem;
  }

  @include media-queries(xsmall) {
    font-size: 1.5rem;
  }

  @include media-queries(small) {
    font-size: 1.7rem;
  }

  @include media-queries(xmedium) {
    font-size: 1.7rem;
  }

  @include media-queries(medium) {
    font-size: 1.7rem;
  }

  @include media-queries(large) {
    font-size: 1.8rem;
  }

  @include media-queries(xlarge) {
    font-size: 1.8rem;
  }
}

h6 {
  text-align: center;
  font-size: 1.4rem;

  @include media-queries(xxsmall) {
    font-size: 1.4rem;
  }

  @include media-queries(xsmall) {
    font-size: 1.5rem;
  }

  @include media-queries(small) {
    font-size: 1.6rem;
  }

  @include media-queries(xmedium) {
    font-size: 1.6rem;
  }

  @include media-queries(medium) {
    font-size: 1.6rem;
  }

  @include media-queries(large) {
    font-size: 1.6rem;
  }

  @include media-queries(xlarge) {
    font-size: 1.6rem;
  }
}

ul,
li,
p {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  text-align: center;

  font-size: 1.2rem;

  @include media-queries(xsmall) {
    font-size: 1.3rem;
  }

  @include media-queries(small) {
    font-size: 1.5rem;
  }

  @include media-queries(medium) {
    font-size: 1.6rem;
  }
}

img {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
