@use "../../../scss-variables/media-queries" as *;

.message-server {
  margin-bottom: 10px;
  color: #ff4136;
  text-align: left;
  font-size: 1.1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;

  &--success {
    color: #2ecc40;
    font-weight: 400;
  }
}
